<!-- About page -->
<div class="container py-5">
  <h2 class="display-3 my-3 text-center text-primary">About the Author</h2>
  <div class="row justify-content-center">
    <div class="col-md-6">
      <dl class="row border p-3 rounded bg-light">
        <dt class="col-sm-5 text-primary h5">Name</dt>
        <dd class="col-sm-7 h5">Soe Thet Naing</dd>

        <dt class="col-sm-5 text-primary h5">Neptun ID</dt>
        <dd class="col-sm-7 h5">x0flxy</dd>

        <dt class="col-sm-5 text-primary h5">Email Address</dt>
        <dd class="col-sm-7 h5">x0flxy&#64;inf.elte.hu</dd>
      </dl>
    </div>
  </div>
</div>