<!-- Main page -->
<div class="p-3 mb-4 bg-light rounded-3 d-flex flex-column align-items-center">
  <div class="container-fluid py-5 text-center">
    <h1 class="display-5 fw-bold text-primary mb-4">Pets Catalogue</h1>
    <p class="col-md-8 fs-4 mx-auto mb-4">Welcome to the Pets Catalogue! This is a place where you can keep track of all your beloved pets, both those who are still with us and those who have passed on. You can add new pets, edit their details, and keep notes about them. It's a great way to remember all the joy they've brought into your life.</p>
    <div class="d-flex justify-content-center mb-4">
      <img src="assets/pets.jpeg" alt="Pets" class="img-fluid">
      <img src="assets/pets2.jpeg" alt="Pets" class="img-fluid">
    </div>

    <p class="col-md-8 fs-4 mx-auto">You have <span class="fw-bold text-primary">{{ alivePets }}</span> pets. And you said goodbye to <span class="fw-bold text-primary">{{ deadPets }}</span> pets.</p>
  </div>
</div>